
# PostgreSQL
POSTGRES_PASSWORD=ubuntu
POSTGRES_USER=ubuntu
POSTGRES=yes
POSTGRES_VERSION=9.5
POSTGRES_DB_NAME=ubuntu

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.vagrant
DJANGO_SECRET_KEY=CHANGEME!!!

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
{% if cookiecutter.use_sentry_for_error_reporting == 'y' -%}
# Sentry
DJANGO_SENTRY_DSN=
{% endif %}

{% if cookiecutter.use_compressor == 'y' -%}
COMPRESS_ENABLED=
{% endif %}
